# [CHAPTER 02] 파이썬 핵심 문법

######
# 2.3 연산자
######

######
## ■ 산술연산자
######

In [4]:
x = 10
y = 20

In [5]:
# 더하기
print(x + y)

30

In [6]:
# 빼기
print(x - y)

-10

In [7]:
# 곱하기
print(x * y)

200

In [8]:
# 나누기
print(x / y)

0.5

In [9]:
# 나머지
print(x % y)

10

In [10]:
# 거듭제곱
print(x ** 2)

100

In [12]:
# 몫
print(x // y)

0

######
## ■ 문자열 연산자
######

In [13]:
# 문자열 더하기
start = "파이썬"
end = "짱!"
start + end

'파이썬짱!'

In [14]:
#문자열 곱하기
word = "파이썬"
word * 5

'파이썬파이썬파이썬파이썬파이썬'

######
# 2.4 표준 입출력
######

######
## ■ 표준 입력
######

In [1]:
# 문자열로 입력
name = input("이름 입력: ")
print(name)

이름 입력:  Hyosik

Hyosik

In [18]:
# 정수형으로 입력
x = int(input("숫자1 입력: "))
y = int(input("숫자2 입력: "))
print(x + y)

숫자1 입력:  10
숫자2 입력:  30

40

In [19]:
# 실수형으로 입력
z = float(input("숫자 입력: "))
print(z)

숫자 입력:  3.2

3.2

######
## ■ 표준 출력
######

In [21]:
# 줄 바꿈 출력
print("파이썬")
print("짱")

파이썬
짱

In [22]:
# end 옵션으로 줄 바꿈 제어
print("파이썬", end = " ")
print("짱")

파이썬 짱

In [24]:
# 콤마(,)를 이용한 출력
name = input("이름 입력: ")
print("입력한 이름은", name)

이름 입력:  Hyosik

입력한 이름은 Hyosik

In [25]:
# %s 형식지정자를 이용한 출력
name = input("이름 입력: ")
print("입력한 이름은 %s" % name)

이름 입력:  Hyosik

입력한 이름은 Hyosik

In [28]:
# %d 형식지정자를 이용한 출력
x = int(input("숫자1 입력: "))
y = int(input("숫자2 입력: "))
print("%d + %d = %d" % (x, y, x + y))

숫자1 입력:  1
숫자2 입력:  2

1 + 2 = 3

In [35]:
# %f 형식지정자를 이용한 출력
x = int(input("숫자1 입력: "))
y = int(input("숫자2 입력: "))
print("%d / %d = %f" % (x, y, x / y))

숫자1 입력:  5
숫자2 입력:  2

5 / 2 = 2.500000

In [34]:
# format() 함수를 이용한 출력
x = int(input("숫자1 입력: "))
y = int(input("숫자2 입력: "))
print("{0} * {1} = {2}".format(x, y, x * y))

숫자1 입력:  3
숫자2 입력:  2

3 * 2 = 6

In [32]:
# 중괄호 순서를 변경하고 자료를 반복하여 출력
print("{1} {1} 작은 {0}".format("별", "반짝"))

반짝 반짝 작은 별

In [36]:
# f-string 포맷팅을 이용한 출력
x = int(input("숫자1 입력: "))
y = int(input("숫자2 입력: "))
print(f"{x} - {y} = {x - y}")

숫자1 입력:  30
숫자2 입력:  20

30 - 20 = 10

######
# 2.5 컬렉션 자료형
######

######
## ■ 리스트 : 하나의 리스트 변수를 이용하여 여러 개의 자료를 효율적으로 저장하고 처리함
######

In [37]:
# 리스트 변수 사용
x = [0, 0, 0, 0]

x[0] = int(input("점수1: "))
x[1] = int(input("점수2: "))
x[2] = int(input("점수3: "))
x[3] = int(input("점수4: "))

hap = x[0] + x[1] + x[2] + x[3]

print("합계: ", hap)

점수1:  20
점수2:  30
점수3:  10
점수4:  50

합계:  110

In [39]:
# 리스트 인덱스 구조 및 사용하기

x = [15, 25, 35, 45]
print(x)

[15, 25, 35, 45]

In [40]:
x[0]

15

In [41]:
x[0] + x[1]

40

In [42]:
x[-1]

45

In [43]:
x[4]

IndexError: list index out of range

In [44]:
# 리스트 슬라이싱 사용하기
x = [10, 20, 30, [40, 50]]

x[0:2]

[10, 20]

In [45]:
x[1:]

[20, 30, [40, 50]]

In [46]:
x[:2]

[10, 20]

In [47]:
x[-1]

[40, 50]

In [48]:
x[3]

[40, 50]

In [49]:
x[3][0] # 이중 리스트 슬라이싱

40

In [50]:
x[3][1] # 이중 리스트 슬라이싱

50

In [53]:
x[3][:1] # 이중 리스트 슬라이싱

[40]

In [54]:
# 리스트 값 변경

a = [10, 20, 30]
print(a)

[10, 20, 30]

In [55]:
a[0] = 100
print(a)

[100, 20, 30]

In [56]:
a[1:3] = [90, 100]
print(a)

[100, 90, 100]

In [58]:
a[1] = [90, 100]
print(a)

[100, [90, 100], 100]

######
## ■ 튜플 : 한번 저장된 값은 수정할 수 없는 자료형
######

In [60]:
# 튜플 초기화
x = ()
print(x)

()

In [61]:
x = tuple()
print(x)

()

In [63]:
x = (1, 2, 3)
print(x)

(1, 2, 3)

In [64]:
x = 1, 2
print(x)

(1, 2)

In [65]:
x = (10, 20, (30, 40))
print(x)

(10, 20, (30, 40))

In [62]:
x = tuple(range(10))
print(x)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [66]:
x = ["월", "화", "수", "목", "금", "토", "일"]
x = tuple(x)
print(x)

('월', '화', '수', '목', '금', '토', '일')

In [2]:
# 튜플 데이터 변경
x = (10, 20, 30)
x[0] = 100

TypeError: 'tuple' object does not support item assignment

In [68]:
# 튜플 인덱싱과 슬라이싱
x = (10, 20, 30, 40)
x[0]

10

In [69]:
x[1:]

(20, 30, 40)

In [71]:
x[:2]

(10, 20)

In [70]:
x[-1]

40

######
## ■ 딕셔너리 : 순서가 없는 컬렉션 자료형으로 각각의 요소는 key:value 형태로 저장
######

In [72]:
# 딕셔너리 요소 접근
menu = {"김밥":3000, "라면":5000}
menu["김밥"]

3000

In [73]:
menu["라면"]

5000

In [74]:
menu["라면"] = 5500
menu["라면"]

5500

In [75]:
menu["어묵"] = 1500
print(menu)

{'김밥': 3000, '라면': 5500, '어묵': 1500}

In [76]:
menu["순대"]

KeyError: '순대'

######
## ■ 세트 : 집합에 관련된 것을 쉽게 처리하기 위해 만든 자료형, 중복 허용 안하고 순서 없음
######

In [77]:
# 세트 초기화
x = {10, 20, 30}
print(x)

{10, 20, 30}

In [79]:
y = set([10, 20, 30])
print(y)

{10, 20, 30}

In [80]:
x = {10, 20, 30, 20}
print(x)

{10, 20, 30}

In [81]:
# 세트 합집합, 교집합 차집합
x = {10, 20, 30}
y = {20, 40}
x & y # 교집합

{20}

In [82]:
x.intersection(y) # 교집합

{20}

In [83]:
x | y # 합집합

{10, 20, 30, 40}

In [84]:
x.union(y) # 합집합

{10, 20, 30, 40}

In [85]:
x - y # 차집합

{10, 30}

In [86]:
x.difference(y) # 차집합

{10, 30}

######
# 2.6 리스트 내포
######

######
## ■ 기본적인 리스트 내포 형식
######

In [87]:
num = [-20, -10, 0, 10, 20]
[x for x in num]

[-20, -10, 0, 10, 20]

In [88]:
num = [-20, -10, 0, 10, 20]
[x / 5 for x in num]

[-4.0, -2.0, 0.0, 2.0, 4.0]

In [89]:
num = [-20, -10, 0, 10, 20]
[x + 5 for x in num]

[-15, -5, 5, 15, 25]

In [90]:
num = [-20, -10, 0, 10, 20]
[x ** 2 for x in num]

[400, 100, 0, 100, 400]

######
## ■ 조건이 있는 리스트 내포 형식
######

In [91]:
num = [-20, -10, 0, 10, 20]
[1 / x for x in num if x > 0]

[0.1, 0.05]

In [92]:
num = [-20, -10, 0, 10, 20]
[1 / x for x in num if x != 0]

[-0.05, -0.1, 0.1, 0.05]

######
# 2.9 함수
######

######
## ■ 주요 내장 함수
######

In [93]:
# enumerate() 함수 : 컬렉션의 자료형을 입력받아 인덱스 값을 포함하는 enumerate 객체로 반환하는 함수

for x, name in enumerate(["수박", "참외", "자두"]):
    print(x, name)

0 수박
1 참외
2 자두

In [94]:
for x, name in enumerate({"수박", "참외", "자두"}):
    print(x, name)

0 수박
1 자두
2 참외

In [97]:
# zip() 함수 : 동일한 개수로 이루어진 자료형을 묶어 주는 함수

num = [1, 2, 3]
char = ['A', 'B', 'C']

for item in zip(num, char):
    print(item)

(1, 'A')
(2, 'B')
(3, 'C')

In [101]:
num = [1, 2, 3]
char = ['A', 'B', 'C']

dict(zip(num, char))

{1: 'A', 2: 'B', 3: 'C'}

In [102]:
# 랜덤 모듈을 이용하여 난수를 생성하는 예
import random

for i in range(10):
    x = random.random()
    print(x)

0.6002279016419926
0.17705362149957204
0.7813167959137036
0.5548666061189621
0.9344212910714021
0.9061261178292552
0.34599945415159883
0.678702455190043
0.6517800037689971
0.370874426801879

In [106]:
# randint() 사용 예
import random
random.randint(5, 10)

5

In [105]:
random.randint(5, 10)

7

In [107]:
# choice() 사용 예

import random
num = [1, 2, 3]
random.choice(num)

2

In [108]:
random.choice(num)

1

######
## ■ 사용자 정의 함수
######

In [110]:
def max1(num1, num2):
    if num1 > num2:
        return num1
    else:
        return num2

x = int(input("정수1: "))
y = int(input("정수2: "))
print("큰 수:", max1(x, y))

정수1:  10
정수2:  20

큰 수: 20

######
## ■ 람다 함수 : 이름 없는 익명 함수
######

In [111]:
# 사용자 정의 함수로 표현
def plus_five(x):
    return x + 5

plus_five(20)

25

In [112]:
# 람다 함수 사용 예1
lambda x: x + 5

In [113]:
plus_five = lambda x: x + 5
plus_five(20)

25

In [115]:
# map() 함수 사용 예
def plus_five(x):
    return x + 5

list(map(plus_five, [15, 25, 35]))

[20, 30, 40]

In [116]:
list(map(lambda x: x + 5, [15, 25, 35]))

[20, 30, 40]